/*
Custom css for IFN app.
Citations:
  - input, div.outer, #cite and #controls taken from superzip shiny example 
    (https://github.com/rstudio/shiny-examples/blob/master/063-superzip-example/styles.css)
*/

input[type="number"] {
  max-width: 80%;
}

/* map container */
div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* Controls */
#mapControls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  z-index: 1000;
}
#mapControls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Shape conditional selector */
#infoPanel {
  /* Appearance */
  background-color: white;
  padding: 5px 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  z-index: 999;
}
#infoPanel:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Filter and sel panel */
#filterAndSel {
 /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  z-index: 1001;
}
#filterAndSel:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Info panel */
#aggregation {
 /* Appearance */
  background-color: white;
  padding: 5px 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
  z-index: 998;
}
#aggregation:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#info_panel_tabs > li > a {
  width: 263px;
}

#controls_buttons {
  padding-left: 12px;
}

/* divisiones administrativas input (radioButtons) */
/*
#map_controls-territori.form-group {
  background-color: 'black';
}
*/
